<div class="content">
  <div class="header index_bg">
    <h1>Get Access to Best Events
    <br>
    <h4>Last minute access to top events at a discount.</h4>
    </h1>
    <br><br><br>
  </div>
  <div class="row consumer_new">
    <%= render 'form' %>
    </div>
</div>