<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Analytics</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" id="graph1"><a href="#">Total Transactions per Event<i class="fa fa-bar-chart"></i></a></li>
        <li class="active" id="graph2"><a href="#">Total Transactions by Month<i class="fa fa-line-chart"></i></a></li>
        <li class="active" id="graph3"><a href="#">Total Sales<i class="fa fa-pie-chart"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="main">