

<div class="content">
<div class="header index_bg">
  <h1>Have unsold event tickets? <br>Let us help you fill those empty seats.</h1><br><br><br>
</div>
  <div class="row corp_new">
    <div class="col-md-5">
      <h5>Hosting an upcoming event and still have 100 unsold tickets?Sell them here on PlansForTonight - you choose the amount of tickets and price</h5>

    </div>
    <div class="col-md-6">
      <h3>Register Today</h3><br>
      <%= render 'form' %>
    </div>
  </div>
</div>





