<body class="index_bg">
<div class="vertical_center"> 
  <% @categories.each do |category| %>
    <%= link_to category_path(category.id) do %> 
      <div class="index_category_box">
        <h2><%= category.name %></h2>
      </div>
    <% end %>
  <% end %>
</div>
</body>
