/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require datetimepicker
 *= require simple_calendar
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
 
#category_img {
  width: 200px;
  height: 200px;
}

#back_button {
  float: left;
  padding-top: 3px;
}

.header {
  margin-top: -60px;
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  color: #FFFFFF;
}

.img_base {
  background-color: #0c0707;
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: 30px;
  margin-top: 20px;
  height: 250px;
  color: #FFFFFF;
}

.index_bg {
  background: url("http://i67.tinypic.com/o5qeqt.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.event_overlay {
  opacity: 0.4;
  background-position: center center;
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-size: cover;
  /*margin-top: 10px;*/
  height: 100%;
}

.event_header_text {
  margin-top: -250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  color: #FFFFFF;
  opacity: 1;
}

#nav_icon {
  display: inline;
  padding: 5px;
}

.vertical_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 400px;
}

/* Small screens */
@media all and (max-width: 500px) {
  .vertical_center {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.index_category_box {
  height: 200px;
  width: 200px; 
  border-radius: 10px;
  border: 5px #f600ff solid;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*background-color: #9600ff;*/
}

a:hover {
  text-decoration: none;
}

.index_category_box h2 {
  color: #f600ff;
}

.index_category_box h2:hover {
  font-style: italic;
  /*text-decoration: none;*/
}

.content {
  padding: 20px 50px 20px 50px;
  /*background-color: #d9cde2;*/
}

h1 {
  text-align: center;
}

.corp_new {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 50px;
}

#corp_reg_form {
  text-align: left;
}

.event_new {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.consumer_new {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}




/* ---- corporate/index ---- */
#show_past {
  display: none;
}

#total_transactions {
  display: none;
  width: 80%;
  border: 1px solid grey;
}

#transaction_monthly {
  display: none;
  min-width: 100%;
  border: 1px solid grey;
}


/* ---- category/show ---- */

.simple-calendar {
  width: 800px;
  margin: auto;
  margin-top: 20px;
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}