/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_self
 *= require datetimepicker
 *= require theme/bootstrap.min.css
 *= require theme/core.css
 *= require theme/icons.css
 *= require theme/components.css
 *= require theme/pages.css
 *= require theme/menu.css
 *= require theme/responsive.css
  *= require simple_calendar
*/
#category_img {
  width: 200px;
  height: 200px;
}
/* ---- corporate/index ---- */
#show_past {
  display: none;
}


/* ---- category/show ---- */

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  position: relative;
  float: left;
  width: 70%;
  height: 150px;
  margin: 5px;
  padding: 10px;
  color: #5E35B1;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#E2D4FF), to(#765CAB));
  background: -moz-linear-gradient(top,  #E2D4FF,  #765CAB);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2D4FF', endColorstr='#765CAB');
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.filters {
  display: inline-block;
}