/* image cards */
.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}


/* */
.card {
/*  margin-top: -60px;
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: -40px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  width: 100%;
  color: #FFFFFF;
  /*background-color: #0c0707;*/
  /*background-color: #554955;*/
}

.eventcard_img_base {
/*  background-color: #0c0707;
  width: 250px;
  height: 150px;
  margin-left: 80px;
  color: #FFFFFF;*/
  background-color: #0c0707;
    width: 80%;
    height: 150px;
    margin-left: 20px;
    color: #FFFFFF;
    /* margin-top: -20px; */
    display: flex;
    justify-content: center;
    z-index: 1;
}

.eventcard_overlay {
    background-position: center fixed;
    background-attachment: inherit;
    background-repeat: initial;
    background-size: cover;
    height: 150px;
    width: 320px;
    z-index: 1000;
    /* margin-top: -20px; */
    /* margin-left: -30px; */
}

.eventcard_text {
  margin-top: 10px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  position: relative;
  float: left;
  width: 30%;
  height: 300px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #929191;
  border-radius: 5px;
  background: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED));
  background: -moz-linear-gradient(top,  #FFFFFF,  #EDEDED);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED');
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.filters {
  display: inline-block;
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */
ul li:hover { cursor:pointer}