#transaction-window {
  width: 300px;
  border-radius: 5px;
  float: right;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.ticket_sales {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.price_display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}

.event_description {
  font-style: italic;
  width: 90%;
}

.ticket_type {
  border-radius: 5px;
  border: 2px solid #7e00d7;
  color: #7e00d7;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  flex-direction: column;
  width: 275px;
}

.ticket_type_description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 15px;
}
.admission_price {
  order: 1;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  font-size: 18px;
}

.text_highlight {
  color: #7e00d7;
}

.social_share {
  padding-left: 50px;
}

.stripe_logo {
  padding-left: 50px;
}

#trash_delete {
  position: absolute;
  margin: 0;
  padding: 0;
}
