<!DOCTYPE html>
<html>
<head>
  <title>Plans For Tonight</title>
  <style>
    a {
      text-decoration: none;
    }

    #navbar {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #5D2C6B;
      height: 100px;
      color: white;
    }

    #navbar a{
      color: white;
    }

    body {
      margin:0px;
    }
  </style>
</head>
<body>
  <div id="navbar">
    <a href="/">Plans For Tonight</a>
    <a href="/corporates/new">Sell</a>
    <a href=''>Last Minute Deals</a>
    <a href=''>About</a>
    <div class='login-state'>
       <!-- Session script? --> 
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value) %>
      <% end %>
      <% if current_user %>
        Signed in as  <%= current_user.name %><%= link_to "Log Out", session_path("current"), method: :delete %> 
      <% end %>   
      <%= yield %>
    </div>
  </div>

 

</html>
